/*code rajoute*/
.edition {
	display: flex;
	justify-content: center;
	background-color: black;
	width: 100%;
	height: 30px;
}
.btn-edition {
	background-color: black;
	color: white;
}
.btn-edition:hover {
	color: red;
}
a {
	text-decoration: none;
	color: black;
}
.submit {
	cursor: pointer;
}
.footer-login {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0
}
.filter_btn {
	font-family: "Syne";
	padding: 10px 20px;
	margin: 0 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: #1D6154;
	background-color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
}
.filter_btn-active {
	color: white;
	background-color: #1D6154;
}
.filters {
	display: flex;
	justify-content: center;
	margin: 30px;
}
/*Partie login => mdp oublié*/
.form {
	display: flex;
	justify-content: center;
	text-decoration: underline;
}
.form:hover {
	color: red;
}
/*bouton btn-modal*/
.portfolio {
	display: flex;
	flex-direction: column;
}
.btn-modal {
	padding: 10px 20px;
	margin: 0 15px;
	background-color: white;
}
.btn-modal:hover {
	color: red;
}
/*Bouton Modal "Modifier"*/
.icone {
	font-size: 20px;
	padding-right: 10px;
}
button {
	border: none;
	cursor: pointer;
} 
/*Modal*/
.modal {
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	width: 30%;
	height: 80%;
	margin: 0 auto;
	padding: 30px;
	background: white;
	border-radius: 20px;
}
.modal_section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;	
}
.h2-modal {
	display: flex;
	margin-bottom: 30px;
	justify-content: center;
	color: black;
}
.modale_header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 20px;
}
.modal-close-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
}
.buttonposition {
	display: flex;
	justify-content: center;
}
.buttonphoto {
	font-family:"Syne";
	padding: 10px 20px;
	margin: 0 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	background-color: #1D6154;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
}
/** Overlay */
.overlay {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
/*JS*/
.visible {
	opacity: 1;
	pointer-events: auto;
	overflow: auto;
}
.filter_btn-modal {
	font-family: "Syne";
	padding: 10px 20px;
	margin: 0 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	background-color: #1D6154;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
}
/*gestion gallery modal*/
.fa-solid {
	font-size: 20px;
}
.gallery-modal {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.fa-trash-can {
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: black;
	color: white;
	margin-left: -35px;
	margin-top: 20px;
}
.fa-trash-alt:before, .fa-trash-can:before {
    margin-top: 8px;
	font-size: 15px;
}
.gallery-modal img {
	width: 100%;
	cursor: pointer;
	height: 100%;
	max-height: 100px;
	margin-top: 15px;
}
.borderline::after {
	display: flex;
	content: " ";
	border-top: 1px solid grey;
	height: 1px;
	width: 75%;
	margin: 15px auto;
	margin-top: 50px;
}
.fa-trash-can {
	font-size: 15px;
	display: flex;
	justify-content: center;	
}
figure {
	display: flex;
}
figure:hover {
	border:2px solid #1D6154;
}
/*modal "ajouter une photo"*/
.overlayphoto {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.formphoto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F7;
	height: 275px;
} 
.formphoto i {
	color: grey;
	font-size: 90px;
	font-weight: 100;
	margin: 20px;
}
.formphoto label {
	font-family: "work sans";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
	background-color: #CBD6DC;
	color: #306685;
	border-radius: 50px;
	cursor: pointer;
}
.formphoto label:hover {
	color: red;
}
.imgform {
	width: 300px;
	height: 150px;
	margin-top: -130px;
	margin-bottom: 20px;
	border: none;
}
.formphoto::after {
	margin-top: 10px;
	content: "jpg, png : 4mo max";
	position: absolute;
	top: 375px;
	margin-top: 20px;
}
.formphoto input {
	display: none;
}
/*JS*/
.visible {
	opacity: 1;
	pointer-events: auto;
	overflow-y: auto;
	overflow-x: hidden;	
}
.visible::-webkit-scrollbar {
	width: 10px;	
}
.visible::-webkit-scrollbar-thumb {
	background: #ccc;
}
.form-title {
	display: flex;
	flex-direction: column;
	width: 90%;
}
.form-id{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-bottom: 50px;
}
.title-form {
	font-family:"Syne";
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-title-category {
	display: flex;
	margin-top: 10px;
	flex-direction: column;
	align-items: center;
}
.categorie {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family:"Syne";
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
}
.category, .input-title {
	font-family:"Syne";
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 50px;
}
.buttonvalider {
	font-family:"Syne";
	padding: 10px 20px;
	border-radius: 25px;
	background-color: grey;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
	width: 50%;
}
.buttonvalider:hover {
	color: white;
	background-color: #1D6154;
}
.modale_header1 {
	display: flex;
	justify-content: flex-end;
	width: 95%;
	margin-top: 10px;
	margin-bottom: 30px;
}
.modale_header2 {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin-top: 10px;
	margin-bottom: 30px;
}